.body{
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    width: 100vh;
}

.header{
    display: flex;
    justify-content: center;
    
}

.main{
    display: flex;
    flex-direction: column;

}

.div1{
    top: 73px;
    left: 0px;
    width: 1280px;
    height: 727px;
    background-image: url(https://images.unsplash.com/photo-1516008805996-d2abb468cc9a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fE1vbmFydG8lMjBTLkEufGVufDB8fDB8fHww&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover
}



.img1{
    top: 73px;
    left: 0px;
    width: 1280px;
    height: 727px;
}

.div2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    top: 800px;
    left: 0px;
    width: 1280px;
    height: 348px;
    justify-content: s;
}

.p1{
    display: flex;
    justify-content: center;
    top: 876px;
    left: 150px;
    width: 475px;
    height: 197px;
}

.img2{
    display: flex; 
    justify-content: center;
    top: 845px;
    left: 731px;
    width: 399px;
    height: 237px;
}

.div3{
    background-color: #1E1A13;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 1141px;
    left: 0px;
    width: 1280px;
    height: 348px;
}

.h2{
    text-align: center;
    font-size: 40px;
}

.iconos{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    flex-basis: 30%;
}

.div4{
    display: flex;
    align-items: center;
    top: 1488px;
    left: 0px;
    width: 1280px;
    height: 348px;
}

.divimg{
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.img3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    width: 316px;
    height: 202px;
}

.footer{
    background-color: #1E1A13;
    color: white;
    display: flex;
    justify-content: center;
    top: 1835px;
    left: 0px;
    width: 1280px;
    height: 102px;
}